/*
id use '#' : identify one element only
class use '.' : identify more than one element

border: 3px solid #73AD21;
*/

html {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
}

@media (prefers-color-scheme: light) {
  body {
    background: radial-gradient(#0033ff3b, #383838);
    background-attachment: fixed;

    /*
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    */
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: radial-gradient(#474747, #000000);
    background-attachment: fixed;
  }
}

h1 {
  font-size: max(10px, 1.8vmin);
  position: absolute;
  text-align: left;
  left: 1vw;
  font-family: Calibri, sans-serif;
}

.top-right {
  position: absolute;
  right: 2vw;
  top: 2vh;
}

.horizontal_section {
  position: relative;
  top: 4vh;
}

.responsive_icon {
  width: min(6.5vw, 68px);
  height: auto;
  margin-left: max(8px,1vw);
  margin-right: max(8px,1vw);
}

#clock {
  font-size: min(48px, 4.2vw);
  color: #f3f3f3;
  position: relative;
  top: 10vh;
  width: auto;
}

#grid-outer {
  /*
  visibility: hidden;
  */
  visibility: visible;
  position: relative;
  top: 15vh;
  width: min(100%, 720px);
  margin-left: auto;
  margin-right: auto;
}

#grid-container-for-sections {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "a b c";
}

.section_1 {
  grid-area: a;
}

.section_2 {
  grid-area: b;
}

.section_3 {
  grid-area: c;
}

.title {
  font-size: min(36px, 2.8vw);
  color: #000000;
}

.URL_button {
  border: none;
  color: white;
  padding: 1vmin 2vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.8vmin;
  margin: 6px 3px;
  cursor: pointer;
  border-radius: 40em;
  background-image: linear-gradient(45deg, #000000c4 0%, #797979  51%, #272727c4  100%);
  color: #941d1d;
  color: #fff9c2;
  cursor: pointer;
  font-size: min(21px, 3vw);
}



#footer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 2%;
  font-size: max(14px, 1.8vmin);
}
